/****************************************HEADER****************************************/

.subheading-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      margin-bottom: 80px;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      margin-bottom: 60px;
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      display: none;
    }
}

.grid-controls-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      display: none !important;
    }
}

.heading-container{
    margin: 0 0; // TODO: return back to: 100px 0;

    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      width: 80%;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      width: 100%;
    }
}

.hero-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    font-family: var(--sanserif);
    line-height: 1.15;
    color: var(--primary);
    margin: 0;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      font-size: 38px
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      font-size: 32px;
    }
}

.grid-button{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: transparent;
    -webkit-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  
    &:hover {
      background: var(--hover);
    }
  
    &[data-a11y="true"]:focus::after {
      content: "";
      position: absolute;
      left: -10%;
      top: -10%;
      width: 120%;
      height: 120%;
      border: 2px solid var(--accent);
      background: rgba(255, 255, 255, 0.01);
      border-radius: 50%;
    }
  
    svg {
      -webkit-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
  
      path {
        fill: var(--primary);
      }
    }
}

/****************************************LIST****************************************/

/*LIMIT TO TWO LINES*/
.limit-to-two-lines, .articles-title, .article-excerpt{
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow-wrap: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      -webkit-line-clamp: 3;
    }
}

/*SHOW DETAILS*/
.show-details{
    p {
        display: -webkit-box;
      }
    
    h2 {
      margin-bottom: 10px;
    }
}

.articles-list-container{
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.author-alc{
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--card)), to(var(--background-color)));
    background-image: -o-linear-gradient(var(--card), var(--background-color));
    background-image: linear-gradient(var(--card), var(--background-color));
    padding-top: 90px;

    .post-row-alt{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        .article-link{
            max-width: 40%!important;
            margin: 15px;
        }
    }
}

/*LIST TITLE*/
.list-title{
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:
      '457px 1fr';
    grid-template-columns:
      '457px 1fr';
    -ms-grid-rows: 2;
    grid-template-rows: 2;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  
    &:not(:last-child) {
      margin-bottom: 75px;
    }

    /*DESKTOP MEDIUM*/
    @media screen and (max-width: $desktop_medium){
        grid-template-columns: 1fr 1fr;
      }
    
    /*TABLET*/
    @media screen and (max-width: $tablet){
      grid-template-columns: 1fr;
      
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  
}
.list-title > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1
  
}

.list-title-alt{
    -ms-grid-columns:
      '457px 1fr';
    grid-template-columns:
      '457px 1fr';
}

.list-item-row{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 96px 488px;
    grid-template-columns: 1fr 488px;
    grid-column-gap: 96px;
    -ms-grid-rows: 1;
    grid-template-rows: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 50px;

    /*DESKTOP*/
    @media screen and (max-width: $desktop){
        grid-column-gap: 24px;
        grid-template-columns: 1fr 380px;
    }
    
      /*TABLET*/
      @media screen and (max-width: $tablet){
        grid-template-columns: 1fr;
    }

    @media (max-width: 540px) {
        background: var(--card);
    }
    
    /*PHABLET*/
    @media screen and (max-width: $phablet){
        -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
  

}.list-item-row > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  

}.list-item-row > *:nth-child(2){
    -ms-grid-row: 1;
}

.list-item-tile{
    position: relative;

    /*TABLET*/
    @media screen and (max-width: $tablet){
      margin-bottom: 60px;
    }
  
    @media (max-width: 540px) {
      background: var(--card);
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      margin-bottom: 40px;
      -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
}

.list-row{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: "1fr 1fr";
    grid-template-rows: "1fr 1fr";
}

.list-row-alt{
    -ms-grid-rows: "1fr";
    grid-template-rows: "1fr";
}

.image-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
    height: 280px;
    -webkit-box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.22),
      0 18px 36px -18px rgba(0, 0, 0, 0.25);
            box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.22),
      0 18px 36px -18px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    -webkit-transition: -webkit-transform 0.3s var(--ease-out-quad),
      -webkit-box-shadow 0.3s var(--ease-out-quad);
    transition: -webkit-transform 0.3s var(--ease-out-quad),
      -webkit-box-shadow 0.3s var(--ease-out-quad);
    -o-transition: transform 0.3s var(--ease-out-quad),
      box-shadow 0.3s var(--ease-out-quad);
    transition: transform 0.3s var(--ease-out-quad),
      box-shadow 0.3s var(--ease-out-quad);
    transition: transform 0.3s var(--ease-out-quad),
      box-shadow 0.3s var(--ease-out-quad),
      -webkit-transform 0.3s var(--ease-out-quad),
      -webkit-box-shadow 0.3s var(--ease-out-quad);
  
    & > div {
      height: 100%;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      height: 200px;
      margin-bottom: 35px;
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      overflow: hidden;
      margin-bottom: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
}

.article-image{
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.article-title{
    font-size: 21px;
    font-family: var(--serif);
    margin-bottom: 35px;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      margin-bottom: 15px;
    }
  
    /*TABLET*/
    @media screen and (max-width: $tablet){
      font-size: 24px;  
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      font-size: 22px;  
      padding: 0 20px 0;
      margin-bottom: 10px;
      -webkit-line-clamp: 3;
    }
}

.article-excerpt{
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    color: var(--grey);
    display: none;
  
    /*DESKTOP*/
    @media screen and (max-width: $desktop){
      display: -webkit-box;
    }
  
    /*PHABLET*/
    @media screem and (max-width: $phablet){
      margin-bottom: 15px;
      max-width: 100%;
      padding:  0 20px;
      margin-bottom: 20px;
      -webkit-line-clamp: 3;
    }
}

.article-metadata{
    font-weight: 600;
    font-size: 16px;
    color: var(--grey);
    opacity: 0.33;
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      max-width: 100%;
      padding:  0 20px 30px;
    }
}

.post-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;

    /*TABLET*/
    @media screen and (max-width: $tablet){
        margin: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
}

.post-row-alt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .article-link{
        margin-top: 75px;
        max-width: 48.3%;

        /*TABLET*/
        @media screen and (max-width: $tablet){
            max-width: 100%;
        }
    }
}

.article-link{
    max-width: 39.5%;
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.33s var(--ease-out-quart);
    transition: -webkit-transform 0.33s var(--ease-out-quart);
    -o-transition: transform 0.33s var(--ease-out-quart);
    transition: transform 0.33s var(--ease-out-quart);
    transition: transform 0.33s var(--ease-out-quart), -webkit-transform 0.33s var(--ease-out-quart);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
    &:hover{
        text-decoration: none;
    }

    &:hover .image-container, &:focus .image-container {
      -webkit-transform: translateY(-1px);
          -ms-transform: translateY(-1px);
              transform: translateY(-1px);
      -webkit-box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.27),
        0 30px 50px -30px rgba(0, 0, 0, 0.3);
              box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.27),
        0 30px 50px -30px rgba(0, 0, 0, 0.3);
    }
  
    &:hover h2,
    &:focus h2 {
      color: var(--accent);
    }
  
    &[data-a11y="true"]:focus::after {
      content: "";
      position: absolute;
      left: -1.5%;
      top: -2%;
      width: 103%;
      height: 104%;
      border: 3px solid var(--accent);
      background: rgba(255, 255, 255, 0.01);
      border-radius: 5px;
    }

    /*DESKTOP MEDIUM*/
    @media screen and (max-width: $desktop_medium){
      max-width: 48.5%;
    }

    /*TABLET*/
    @media screen and (max-width: $tablet){
      min-width: 80% !important;
      display: block;
      margin-bottom: 60px;

      p{
        padding: 0;
      }
    }
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      min-width: 100% !important;
      margin-bottom: 40px;
      -webkit-box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
              box-shadow: 0px 20px 40px rgba(0,0,0,0.2);

      &:hover .image-container {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        -webkit-box-shadow: initial;
                box-shadow: initial;
      }
  
      &:active {
        -webkit-transform: scale(0.97) translateY(3px);
            -ms-transform: scale(0.97) translateY(3px);
                transform: scale(0.97) translateY(3px);
      }

      p{
        padding: 0 20px 0;
      }
    }
}

#article-link-bigger{
  max-width: 58.5% !important; 

  /*DESKTOP MEDIUM*/
  @media screen and (max-width: $desktop_medium){
    max-width: 48.5% !important;
  }
}

.articles-list-container-alt{

    .post-row{
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
      margin-bottom: 0;
  
      .article-link{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        min-width: 100% !important;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: none;
            flex-wrap: none;
  
        .article-data-outer{
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          min-width: 100% !important;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-wrap: none;
              flex-wrap: none;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
  
          .image-container{
            max-width: 46%;
          }
        
          .article-data{
            width: 46%;
          }
        }
      }
    
    }
  }
