.social-icon-outer{
    width: 20%;
    min-width: 220px;
}

/*TABLET*/
@media screen and (max-width: $tablet){
    .authors-sio{
        width: 60%;
    }
}

.social-icon-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: flex-end;
    min-width: 100%;
    position: relative;
    margin-left: 3.2rem;
    text-decoration: none;
    max-width: 16px;

    a{
        margin-right: 35px;
    }
}

.social-icon-container:hover > svg {
    fill: var (--primary);
  }

.social-icon-container:hover > * {
    -webkit-transition: fill 0.25s var(--ease-in-out-quad);
    -o-transition: fill 0.25s var(--ease-in-out-quad);
    transition: fill 0.25s var(--ease-in-out-quad);
}

.social-icon-container:first-of-type {
    margin-left: 0;
}

.social-icon-container:last-child {
    margin-right: 0;
}

/*TABLET*/
@media screen and (max-width: 735px){
    .social-icon-container{
        margin: 0 2.2rem;
    }
}

.social-icon-image{
    path{
        fill: var(--grey);
    }
}

.hidden{
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    display: inline-block;
}
