<div class="social-icon-outer">
    <div class="social-icon-container">
        {{ range $index, $component := .Site.Params.Social }}
            {{ with $component }}
                {{ $path := print "icons/social/" $index }}
                <a href="{{ . }}">{{ partial $path $ }}</a>
                <span class="hidden">{{ $component }}</span>
            {{ end }}
        {{ end }}
    </div>
</div>
